body {
    background-color: black;
    border: 5px solid white;
    border-radius: 5px;
    margin: 20px;
}

.button-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.image-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.images {
    width: 15%;
}

button {
    color: white;
    font-family: "puffin-arcade-chrome", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: solid white;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.4s;
    box-shadow: 3px 3px 4px white;
}

button:hover {
    color: black;
    background-color: white;
    border-color: black;
    box-shadow: 3px 3px 4px black;
    text-decoration: underline;
}

button:active {
    opacity: 0.2;
}

.button-carp {
    margin-right: 30px;
}

.button-type {
    margin-left: 30px;
    margin-right: 30px;
}

.button-wire {
    margin-left: 30px;
    margin-right: 30px;
}

.button-ref {
    margin-left: 30px;
}