body {
    border: 4px solid white;
    border-radius: 3px;
    background-color: black;
    border-style: dashed;
}





footer {
    color: white;
    height: 15px;
    text-align: center;
    font-family: "puffin-arcade-nerf", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}